*.iml
.gradle
/local.properties
/gradle.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
app-release.aab

# 앱 번들/빌드 결과물 무시
*.aab
*.apk
/release/
/app/release/

